.cardContainer {
    margin: 1rem;
    width: 17rem;
    min-height: 20.5rem;
}
.imgContainer {
    border-radius: 1.2rem;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 12rem;
    overflow: hidden;
}
.cardTitleSub p{
    margin-top:0;
    margin-bottom:0.5rem;
    font-style: italic;
}
.cardTitleSub h3{
    margin-top:0.5rem;
    margin-bottom: 0;
}
.petCared {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.petCared div{
    background-color: rgb(128, 128, 161);
    border-radius: 5rem;
    width: 6rem;
}
.petCared p{
    margin: 0;
    text-align: center;
}
a {
    color: black;
    font-weight: 300;
}
