.editProfileFormContainer {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 1rem;
    padding: 1.2rem 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.editProfileFormContainer h4{
    font-size: 1.8rem;
    margin: 0;
    margin-top:0.5rem;
}
.editProfileFormContainer input {
    width: 80%;
    background-color: #eceef3;
    height: 2.5rem;
    border: 1px solid rgb(238, 233, 233);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    color:rgb(46, 45, 45);
    font-size: 1.2rem;
}
.editProfileFormContainer textarea {
    width: 80%;
    background-color: #eceef3;
    height: 3.5rem;
    border: 1px solid rgb(238, 233, 233);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    color:rgb(46, 45, 45);
    font-size: 1.2rem;
    resize: none;
}
.divPet{
    margin-top: 1.1rem;
    background-color: rgba(38, 136, 120, 0.28);
    border: 1px solid rgba(38, 136, 120, 0.959);
    color: #1f6f62;
    backdrop-filter: blur(4px);
    backdrop-filter: blur(4px); /* efeito vidro */
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 1rem;
    width: 8rem;
    height: 0.1rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeDiv {
    margin-top: 1.1rem;
     background-color: rgba(155, 89, 255, 0.20);  
    border: 1px solid rgba(155, 89, 255, 0.45);   
    color: #7d3bff;                               
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 1.5rem;
    width: 10rem;
    height: 0.1rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeDiv button{
    background-color: rgba(155, 89, 255, 0.20);  
    border: 1px solid rgba(155, 89, 255, 0.45);   
    color: #7d3bff; 
}
.divPet button {
    background-color: rgba(38, 136, 120, 0.28);
    border: 1px solid rgba(38, 136, 120, 0.959);
    color: #1f6f62;
}
.editProfileFormContainer select {
    min-width: 25%;
    background-color: #eceef3;
    height: 2.5rem;
    border: 1px solid rgb(238, 233, 233);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    color:rgb(46, 45, 45);
    font-size: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
} 
.takeCareContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.btnSaveForm{
    display: flex;
    justify-content: flex-end;
}
.errorBox {
  background: #ffe5e5;
  border: 1px solid #ff6b6b;
  color: #b91c1c;
  padding: 0.8rem 1rem;
  border-radius: 0.7rem;
  font-size: 0.95rem;
  margin: 0;
  margin-top: 1rem;
}
.avatarImg{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}
@media (max-width: 640px) {
    .editProfileFormContainer textarea{
        height: 8rem;
    }
}
