.mainContainer {
    background-color: #fff;
    max-width: 1250px;
    border-radius: 1.2rem;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-top: 15px;
    min-height: 80rem;
}
.headerContainer {
    display: flex;
    gap: 10px;
}
