.findSitter {
  background-color: #fff;
  max-width: 1250px;
  border-radius: 1.2rem;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-top: 15px;
}


.fsHeader h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #183F39;
}


.findSitterCard {
  display: flex;
  gap: 20px;
  width: 100%;
  min-height: 80rem;
}

@media (max-width: 768px){
   .findSitterCard{
    flex-direction: column;
   }
}
