.imgContainer {
    width: 7rem;
    height: auto;
}
.imgStyle{
    width: 100%;
}
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    background-color: white;
    border: 1px solid rgb(238, 233, 233);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    color: rgb(46, 45, 45);
    font-size: 1.1rem;

}
.linksContainer {
    display: flex;
    gap: 3.5rem;
    
}
.linksContainer a {
    color: rgba(0, 0, 0, 0.87)
}
.btnContainer {
    display: flex;
    gap: 5px;
}
.btnContainer button {
    height: 2rem;
    border-radius: 18px;
    padding: 0 0.5rem;
    background-color: #183F39;
}

@media (max-width: 768px){
    .navContainer{
        flex-direction: column;
        gap:10px
    }
}
