.container {
  flex: 2;                        /* ocupa 2/3 */
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  align-items: flex-start;
  justify-content: flex-start;
    align-content: flex-start;

}
